

body {
    margin: 0px;
    display:flex;
    flex-direction: column;
}

.title-card {
    text-align: center;
    padding:80px;
    background-color: gray;
    margin : 0px;
    height: 20%;
    color:white;
    box-sizing: border-box;
}

.results {
    text-align: center;
    padding:80px;
    background-color: white;
    margin : 0px;
    height: 20%;
    color:black;
    box-sizing: border-box;
}

.button-containers {
    text-align: center;
    padding:80px;
    background-color: white;
    margin : 0px;
    height: 20%;
    color:black;
    box-sizing: border-box;
}

.button-choice {
    font-size: 40px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: white;
    border:4px solid rgb(10, 10, 10);
}

.button-choice:hover {
    background-color: lightgreen;
}
